<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc_practice</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>
<body class="flex flex-col h-[100vh]">

    <div class="flex w-full h-[90%]">
        <header class="flex flex-row gap-1 h-[100%]">
            <nav class="flex w-40 flex-col gap-2 bg-orange-700 text-white font-semibold text-lg">
                <ul class="ml-1 flex-col gap-1 ">
                    <li
                     class="p-1 hover:cursor-pointer hover:scale-[1.02] hover:bg-white hover:text-orange-700">
                        <a asp-controller="User" asp-action="Index">Usuarios</a>
                    </li>
                    <li 
                    class="p-1 hover:cursor-pointer hover:scale-[1.02] hover:bg-white hover:text-orange-700">
                        <a>Doctores</a>
                    </li>
                    <li 
                    class="p-1 hover:cursor-pointer hover:scale-[1.02] hover:bg-white hover:text-orange-700">
                        <a>Citas</a></l
                    i>
                    <li 
                    class="p-1 hover:cursor-pointer hover:scale-[1.02] hover:bg-white hover:text-orange-700">
                        <a>Pacientes</a
                    ></li>
                </ul>
            </nav>
        </header>
        <main role="main" class="p-1">
            @RenderBody()
        </main>
    </div>

    <footer class="h-[10%] bg-orange-700 w-full">
        <h2>aca</h2>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
