@page
@model mvc_practice.Models.UserModel

<div class="flex flex-col p-1  w-full">
    <h2 class="bg-orange-700 rounded-md p-1 text-white font-bold text-center m-2 text-xl">Informacion de Usuario</h2>

    <form action="">
        <div class="flex flex-col">
            <label
             class="text-md font-semibold text-orange-600 bg-white relative top-3 left-2 w-max"
             >Nombre:</label>
            <input
             class="focus:outline-none border-solid border-2 border-orange-600 p-1 bg-white h-12
              rounded-md "
              type="text"/>
        </div>
    </form>
    
</div>