@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col w-full">
    <h1 class="text-3xl text-center text-orange-200 font-bold">
        Bienvenidos a clinica del Socorro
    </h1>

    <h2 class="text-center text-2xl text-orange-200 font-medium">Servicios</h2>
    <div class="flex gap-1 flex-grow-0">
        <div class="flex flex-col">
            <p class="h-40 bg-black w-40"></p>
            <h3>Citas personalizadas</h3>
        </div>
    </div>
</div>